body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  margin: 16px;
}
.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
p {
  margin-bottom: 0;
}
.Ratings {
  font-size: 40px;
}

.DriverCard {
  background-color: #425cbb;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}
.DriverCard > div > * {
  margin: 0;
}

.imageCard {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

img {
  max-width: 200px;
}
